#contact-page {
  position: relative;
}
#contact-page img {
  width: 100%;
  height: 339px;
}
#contact-page .text {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  color: white;
  align-items: center;
}
#contact-page .text .contact {
  font-size: 40px;
}
#contact-page .text .link {
  display: flex;
  gap: 10px;
}

@media (max-width: 1200p) {
  .contact-page {
    width: 100%;
  }
}
#contact-inp {
  margin-top: 100px;
}
#contact-inp .containes .contact-input {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
}
#contact-inp .containes .contact-input .inp {
  width: 50%;
}
#contact-inp .containes .contact-input .inp .texxt {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: 0;
}
#contact-inp .containes .contact-input .inp .textt {
  font-size: 40px;
  margin-top: 0;
}
#contact-inp .containes .contact-input .inp form {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#contact-inp .containes .contact-input .inp form .name {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#contact-inp .containes .contact-input .inp form .name input {
  width: 100%;
  padding: 5px;
  height: 30px;
}
#contact-inp .containes .contact-input .inp form .email {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#contact-inp .containes .contact-input .inp form .email input {
  padding: 5px;
  height: 30px;
}
#contact-inp .containes .contact-input .inp form .mesage {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#contact-inp .containes .contact-input .inp form .mesage textarea {
  width: 500px;
  padding: 5px;
  height: 150px;
}
#contact-inp .containes .contact-input .inp form .sent {
  width: 164px;
  height: 50px;
  background-color: #36348e;
  color: white;
  font-size: 18px;
}
#contact-inp .containes .contact-input .location {
  width: 682px;
  height: 440px;
  margin-bottom: 300px;
}

@media (max-width: 1460px) {
  .contact-input {
    width: 100%;
    gap: 150px;
  }
  .contact-input .inp {
    width: 30%;
  }
  .contact-input .location {
    width: 300px;
  }
}
@media (max-width: 1200px) {
  .containes {
    justify-content: center;
  }
  .contact-input {
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
  }
  .location {
    margin-bottom: 200px !important;
  }
}
@media (max-width: 905px) {
  .containes {
    width: 50%;
    margin: 0;
  }
}
@media (max-width: 780px) {
  #contact-inp {
    width: 50%;
    margin: 100px 20px 0 0;
  }
  #contact-inp .location {
    max-width: 400px;
  }
  #contact-inp .location iframe {
    width: 400px;
  }
}
@media (max-width: 578px) {
  #contact-inp {
    width: 30%;
    margin: 100px 20px 0 0;
  }
  #contact-inp .contact-input inp {
    max-width: 100px;
  }
  #contact-inp .location {
    max-width: 300px;
  }
  #contact-inp .location iframe {
    width: 400px;
  }
}
