/* ! NAVBAR */
.adminnav-wrapper {
  position: sticky;
  top: 0;
  z-index: 997;
  background-color: white;
}

.admin-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.nav-buttons a {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  text-transform: capitalize;
  border-radius: 4px;
  transition: 0.3s;
  overflow: hidden;
  border: 1px solid #553cdf;
}

.btn-login {
  box-sizing: border-box;
  color: #553cdf;
  background-color: #ffffff;
}

.btn-navigation {
  color: #fff;
  background-color: #553cdf;
}

/* //! SECTION */
.tutor-wrap {
  background-color: #7763e6;
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  padding-left: 50px;
  border-radius: 15px;
  position: relative;
}

.user {
  padding: 10px;
  border-radius: 50%;
  border: 10px solid white;
  position: relative;
  overflow: hidden;
  height: 200px;
  width: 200px;
  display: flex !important;
  gap: 50px;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.content {
  display: flex;
  align-items: center;
  gap: 50px;
  color: #ffff;
  position: absolute;
  bottom: -40px;
  left: 50px;
}

.user-content h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #fff;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.user-content span {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 48px;
  color: #fff;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* sidebar-content */

.sidebar-wrapper {
  margin-top: 60px;
  margin-bottom: 60px;
  display: grid;
  gap: 3%;
  grid-template-columns: 22% 75%;
}

.sidebar {
  grid-column: 1 / 2;
}

.sidebar-content {
  grid-column: 2 / 3;
}

.sidebar,
.sidebar-content {
  border: 1px solid #ddd8f9;
  border-radius: 6px;
  padding: 30px;
}

.sidebar-item a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 48px;
  padding: 10px;
  display: block;
  color: #737477;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.sidebar-item {
  border-bottom: 1px solid #ddd8f9;
}

.sidebar-item:hover a {
  color: #7763e6;
}

.sidebar-item:last-child {
  border: none;
}

/* GRID */
.dasboard-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.dashboard-title {
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  margin-bottom: 30px;
}

.dasboard-grid-item {
  border-radius: 6px;
  border: 1px solid #ddd8f9;
  background: #fff;
  text-align: center;
  padding: 47px 70px;
}

.dasboard-grid-icon {
  background: #f9f8ff;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  justify-content: center;
  margin: auto;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd8f9;
}

.dasboard-grid-icon i {
  color: #553cdf;
  font-size: 26px;
}

.dashboard-grid-count span {
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
  margin-bottom: 0px;
  font-family: "Poppins", sans-serif;
}

.dashboard-grid-secondary span {
  margin-bottom: 0;
  color: #737477;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-family: "Poppins", sans-serif;

  font-weight: 400;
  line-height: 26px;
}

@media screen and (max-width: 900px) {
  .user {
    display: none !important;
  }

  .user-content h3 {
    font-size: 24px;
  }
  .user-content span {
    font-size: 18px;
  }
  .tutor-wrap {
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    padding-left: 50px;
    border-radius: 15px;
    position: relative;
  }

  .sidebar-wrapper {
    margin-top: 60px;
    margin-bottom: 40px;
    display: grid;
    gap: 3%;
    grid-template-columns: 100%;
  }

  .sidebar {
    grid-column: 1 / 2;
  }

  .sidebar-content {
    grid-column: 1 / 2;
  }

  .dasboard-grid-item {
    width: 100%;
    margin-top: 15px;
  }
}
